body{
    background-image: url(photo.jpg);
    font-size: 25px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
  
  }

.container {
    position: relative;
    background-color: hsla(193, 40%, 89%, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    width: 250px;
    border-style: groove;
    border-color: bisque;
    align-items: center;
    
}

  .h2{
    color:rgb(243, 241, 155);
    text-align: center;
  }
  #c{
    color: aliceblue;
  }
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }

.button{
    background-color: #8cd6dd;
    color: #261919;
    padding: 10px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    width: 80px;
    margin-left: 120px;

}
button:hover{
  letter-spacing: 1px;
  background-color:#a48963;
  color: #e7e1e1;
  box-shadow: #f84003  0px 7px 29px 0px;
  
}
button:active{
  letter-spacing:3px;
  background-color: #f77c7c;
  box-shadow: #a96969  0px 7px 29px 0px;
  transform: translateY(5px);
}

  